/* .center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

dialog::backdrop {
  background: rgb(255, 255, 255, 0.8);
}

.modalshow {
  display: visible;
  position:fixed;
  left: 30%;
  top: 40%;
  width: 53.125rem;
  padding: 1.25rem;
  border: none;
  background-color: #AFC7FE;
  box-sizing: border-box;
}

.modaltitle {
  display: block;
  justify-content: left;
  font-family: "Lato";
  font-size: 1.25rem;
  font-weight: 700;
  color: #012169;
  margin-bottom: 0.313rem;
  margin-left: 0.313rem;
}

.modalentry {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Lato";
  width: calc(100% - 1.25rem);	
  padding: 0.25rem;
  margin: 0rem 0.937rem 0.625rem 0.313rem;
  background-color: #DBFFE9;
  border: none;
  color: #009739;
  border: 0.25rem solid transparent;
  outline: 0.125rem solid transparent;
}

.modalentry:focus {
  border: 0.25rem solid #AFC7FE;
  outline: 0.125rem solid #009739;
}

.modalinfo {
  font-family: "Lato";
  font-size: 1.075rem;
  font-weight: 500;
  color:#012169;
  margin-bottom: 0.313rem;
}

.modalinfo.span {
  font-weight: 700;
}

.nonemodal {
  display: none !important;
}

.modalsubmit {
  background-color: #d7e3ff;
  padding: 0.5rem;
  font-family: "Lato";
  font-size: 1.075rem;
  font-weight: 400;
  border: none;
  box-shadow: #012169 0.125rem 0.125rem 0.125rem;
  cursor: pointer;
}

.modalbuttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 1.25rem;
}

/* .modalentryfield {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Lato";
  width: 100%;
  padding: 0.125rem;
  margin: 0rem 0 0.313rem 0;
  background-color: #DBFFE9;
  border: none;
  color: #009739;
  border: 0.25rem solid transparent;
  outline: 0.125rem solid transparent;
}

.modalentryfield:focus {
  border: 0.25rem solid #AFC7FE;
  outline: 0.125rem solid #009739;
} */