#generalsignin {
    width: min(100vw, 40rem);
    height: 100vh;
    background-color: white; 
    display: block;
    flex-direction: row;
    font-family: "Lato";
    color: #012169;
}

#generalsignin input.text {
    background-color: #DBFFE9;
    font-size: 1.2rem;
    color: #009739;
    border: none;
    width: 100%;
    line-height: 2em;
    margin-bottom: 1em;
    margin-top: 0.5em;
    padding-left: 0.5em;
}

#generalsignin label {
    color: #012169;
    font-weight: 700;
    font-size: 1.2rem;
}

#generalsignin input.click{
    font-size: 1.2rem;
    color: #012169;
    margin-top: 0.313rem;
    background-color: #AFC7FE;
    padding: 0.5rem;
    border: none;
    box-shadow: #012169 0.125rem 0.125rem 0.125rem;
    cursor: pointer;

}

#generalsignin a.reset{
    font-size: 1rem;
    color: #988500;
    background-color: #FFF8CC;
    padding: 0.3rem;
    margin: 2rem 1rem 0rem 0rem;
    border: none;
    box-shadow: #988500 0.125rem 0.125rem 0.125rem;
    cursor: pointer;
    display: inline-block;
}